version: 2.1

jobs:
  build-and-test:
    environment:
      _JAVA_OPTIONS: '-Dspring.profiles.active=prod'
    docker:
      - image: cimg/openjdk:11.0
    steps:
      - checkout
      - run:
          name: Build
          command: mvn -B -DskipTests clean package
      - run:
          name: Test
          command: mvn test

workflows:
  sample:
    jobs:
      - build-and-test
